@media only screen and (max-width:420px) {
    .CreateBlog-button-container{
        flex-direction: column !important;
    }
    .CreateBlog-cancel{
        width: 100% !important;
        margin-top: 5px;
    }
}


/* COMMON CSS FOR INDEX AND BUTTONS APPLICABLE TO ALL FILES */

.index-container{
    background-color: rgba(251, 248, 248, 0.89);
    background-image: url(../../assets/images/ServiceProvider/Background.png);
}


.btn-ServiceProvider-1 {
    background: #292d32 !important;
    margin-bottom: 10px !important;
    color: #fff !important;
  }
  
  .btn-ServiceProvider-1:hover {
    background: #fff !important;
    border-color: #2596be !important;
    color: #9f390d !important;
  }
  
  .btn-ServiceProvider-2 {
    background: #ccc !important;
    margin-bottom: 10px !important;
    color: #000 !important;
    font-weight: bold !important;
  }
  
  .btn-ServiceProvider-2:hover {
    background: #fff !important;
    border-color: #2596be !important;
    color: #9f390d !important;
  }
  
  .btn-ServiceProvider-3 {
    background: #687699 !important;
    margin-bottom: 10px !important;
    color: #fff !important;
    
  }
  
  .btn-ServiceProvider-3:hover {
    background: #fff !important;
    border-color: #2596be !important;
    color: #9f390d !important;
  }


/* SWEET ALERT */

.custom-swal-icon {
  color: #282b3d !important;
}