.ViewATraining-title{
    font-weight: 600;
}

.ViewATraining-details-sub-info-val{
    font-weight: 600;
}

@media only screen and (max-width:420px) {
    .ViewATraining-button-container{
        flex-direction: column !important;
    }
    .ViewATraining-cancel{
        width: 100% !important;
        margin-top: 5px;
    }
}

/* Add these styles to your CSS stylesheet or style tag */
.ViewATraining-image-container {
    border: 1px solid #ccc;
    border-radius: 15px; 
}

.ViewATraining-image-container .carousel-inner {
    border-radius: 10px;
}

.ViewATraining-image-container .carousel {
    border-radius: 10px; 
    overflow: hidden; 
}