/* .checkbox{
    margin-top: 20px;
} */



/* .line {
    height: 2px;
    width: 800px;
    background-color: #292D32;
    margin: 10px 0; 
    margin-top: 40px;
   margin-bottom: 20px; 

  }  */

  /* .flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; 
  } */
  
  
  
  /* .sidebar-wrapper {
    flex: 0 0 300px; 
  }
   */
  /* .sform{
    margin-top: 30px;
    margin-bottom: 30px;} */
    /* margin-right: 150px;
    margin-left: 150px; */
  
  
  
  
  /* .sprofile-wrapper {
    flex: 1; 
    margin-left: 50px;
    margin-top: 0px;
    margin-right: 100px;
  } */
  
  
/*   
  .stopProfile{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
  } */
/*   
  .sProfile{
    margin-top: -20px;
   
    font-size: 70px;
  } */
  
  
  /* .sprofile-picture-label {
    margin-top: 0px;
    
    margin-right: 0px;
    font-size: 20px;
  } */
  
  /* .sprofileIcon {
    display: block;} */
    /* margin-left: auto; */
    /* margin-right: 10px; */
  
  
  /* .start{
    margin-left: 50px;
  } */
  
  /* .sname-container{
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 50px;
  } */
  
  
  /* .slName{} */
    /* margin-left: 45px; */
    /* margin-bottom: 20px; */
  
  
/*   
  .saddress{
    margin-bottom: 20px;
    margin-top: 20px;} */
    /* width:800px */
  

  /* .contactNumber,
  .mail,
  .word,
  .newWord,
  .confirmWord{
    margin-top: 20px;} */
    /* width : 800px; */
  
/*   
  .word{
    width :700px;
  } */

  /* .sbutton{
    display: flex;
    align-items: center; 
   
    margin-top: 50px;
    margin-bottom: 0px;
    
  
  } */

  
  /* .scancel{
 
   background-color: #292D32;
  
  } */

  /* .sedit{
   
    background-color: #292D32;
    

  }  */

  /* @media only screen and(max-width:600px){
    .sprofileIcon{
        display:none;
    }
  } */