// .getyourservices {
//     margin-top: 30px;
//     margin-bottom: 100px;

//     .btn_getservices {
//         background-color: brown;
//         text-transform: capitalize;
//         color: white;
//         font-weight: bold;
//         border-radius: 0px 20px 0px 20px;
//         padding: 10px
//     }

//     .btn_getservices:hover {
//         background-color: brown;
//     }

//     .image_getservice {
//         object-fit: cover;
//         background-repeat: no-repeat;
//         max-width: 100%;
//         border-radius: 80px 0px 80px 0px;
//     }
// }

// .join_services {
//     display: flex;
//     gap: 100px;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;

//     .join_deatils {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         width: 300px;
//         height: 400px;

//         .image_details {
//             width: 200px;
//             height: 200px;
//         }
//     }
// }

// .text_needto {
//     text-align: center;
//     margin-bottom: 20px
// }

// .cardflex {
//     margin-top: 20px;
//     margin-bottom: 30px;
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px;
//     justify-content: center;

//     .card {
//         padding: 10px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         width: 150px;
//         height: 150px;
//         box-shadow: 10px 10px 30px 0px black;
//     }
// }

.getyourservices {
  margin-top: 30px;
  margin-bottom: 50px;

  .btn_getservices {
    background-color: brown;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    border-radius: 0px 20px 0px 20px;
    padding: 10px;
  }

  .btn_getservices:hover {
    background-color: brown;
  }

  .image_getservice {
    object-fit: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    border-radius: 80px 0px 80px 0px;
  }
}

.join_services {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .join_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;

    .image_details {
      width: 100%;
      height: 100%;
    }
  }
}


.text_needto {
  text-align: center;
  margin-bottom: 20px;
}

.cardflex {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    box-shadow: 2px 0px 4px 0px #888888;
  }
}
