.location-popup, .Filter-popup{
    display: none;
  }
  
  .location-popup.open, .Filter-popup.open{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    width: 500px;
    height: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .popup-content h2{
    font-family: roboto;
    font-size: 25px;
  }

  .top{
    display: flex;
  }
  
  .close-button{
    font-size: 20px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
  }

  .PlaceList{
    list-style: none;
    padding: 0;
    padding-top: 15px;
    padding-left: 10px;
  
  }

  .PlaceList li{
    font-size: 14px; /* Change font size as needed */
    margin-bottom: 12px; 
    font-family: roboto;
}

.PlaceList li.selected{
    background-color: #f0f0f0; /* Add your preferred style for the selected location */
  font-weight: bold;
}

/*FilterpopUp*/
.custom-sort-button {
  background-color: transparent; /* Set the background color to transparent */
  color: #000000; /* Set the font color for the button text */
  border: none;
  outline: none;
}

.custom-sort-button:focus,
.custom-sort-button:active,
.custom-sort-button:hover {
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
}

.custom-dropdown-item {
  background-color: transparent;
  color: #000000;
}

.custom-dropdown-item:hover,
.custom-dropdown-item.active {
  background-color: #b7c3c7; /* Change this to your desired color for the hover and active states */
  color: #5f5d5d; /* Set the font color for the dropdown text in the hover and active states */
}
.filter {
  margin-top: 20px; /* Changed the margin-top value to 20px */
  margin-left: 500px;
}

.FilterBy {
  font-family: roboto;
  margin-bottom: 10px; /* Added margin-bottom to separate from the content above */
}

.button-group-bottom {
  display: flex;
  justify-content: flex-end;
  margin-top: 350px;
}

.button-group-bottom .btn {
  background-color: #020d4b; /* Change this to your desired background color */
  color: #ffffff; /* Change this to your desired text color */
  border: none;
  margin-left: 10px;
}

.button-group-bottom .btn:active {
  background-color: #000102; /* Change this to your desired background color when the button is active (clicked) */
  color: #ffffff; /* Change this to your desired text color when the button is active (clicked) */
}