.col-6 .card_2 {
    margin-top: -550px;
    margin-left: -90px;


}

.card_3 {
    box-sizing: border-box;
    width: 700px;
    height: 700px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);

}
.classoutlet{
    margin-top: 600px;
    margin-left: -200px;
}


.row {
    size: 2px;

}

.select-small-text {
    font-size: 13px;
}

.select-small-text1 {
    font-size: 10px;
}

.upload_1 {
    background-color: #292D32;
    color: #FFFFFF;
    width: 90px;
    border-radius: 20px;
    margin-left: -50px;
}