.SPBox {
    display: flex;
    background-image: url("../../assets/images/header/Background.png");
    border: 2px solid #ccc;
    padding: 25px;
    border-radius: 10px;
}

.SPProfile{
  font-size: 14px;
  margin-left: 50px;
}

.SPname{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.SPActive{
  font-size: 14px;
  color: rgb(120, 122, 122);
  font-family: 'Rubik', sans-serif;
  padding-left: 20px;

}
 
.SPContact{
    display: flex;
    line-height: 2rem;
   
}

.SPNo{
    margin-left: 10px;
}

.line{
    border-color: #ccc; 
    margin-top: 0.1rem; 
    width: auto;
    border-top: 1px solid #333;
}

.SPReqButtons{
    display: flex;
    align-items: center;
    margin-top: 20px;
 }

.SPRequestjob{
  display: flex;
  justify-content: center;
  background-color: rgb(122, 117, 117);
  color: white;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(240, 218, 218, 0.2);
  transition: background-color 0.2s;
}

.SPRequestquotation{
    display: flex;
    justify-content: center;
    background-color: rgb(122, 117, 117);
    color: white;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(240, 218, 218, 0.2);
    transition: background-color 0.2s;
}

.SPRequestjob:hover,
.SPRequestquotation:hover {
  background-color: #535151;
}

.SPProfBottom .line{
    line-height: 5px;
    margin-top: 20px;
}

.rating {
    font-size: 24px; 
    color: #dbdbd9; 
   
  }

  .star.filled {
    color: #f3b045; 
  }

  .SPRatings .ratereview{
    font-weight: 500;
  }
  .SPRatings{
    margin-top: 30px;
  }

  .SPImg{
    margin-left: 20px;
    margin-top: 20px;
    width: 8%;
    height: 2%;
    padding-left: 2px;
    padding-right: 2px;
  }

  .SPDetail{
    margin-top: 10px;
    
  }
  











